[2020-06-13 15:52] guoheng opened #2 "master_run.py failed with missing handcar_cosim.so"
Build successfully. When run master_run.py, failed with the message below:
FileNotFoundError: Path resolution for [--fpix_riscv.iss_so_path] failed, [/home/guoheng/force-riscv/utils/handcar/handcar_cosim.so] could not be located

What's the instruction of get the handcar_cosim.so?

[2020-06-13 22:09] Leo-Wang-JL commented on #2
Thank you for reporting this Issue!

The handcar_cosim.so was intended to be included in the initial commit but it was omitted unintentionally due to a .gitignore file.

The handcar_cosim.so can be also build from the code in the handcar directory.  How every we found that there are some files missing in that directory as well.  We will get that addresses ASAP so that you can confidently build the

[2020-06-14 01:29] Leo-Wang-JL commented on #2
The missing SO file has been committed to the master branch.  Please try it out.

[2020-06-14 05:20] Leo-Wang-JL commented on #2
Submitted a pull request:
"Updated README.md to describe how to build handcar_cosim.so. Updated script in handcar/regenerate_and_build.bash that can be used to build handcar_cosim.so"

[2020-06-24 14:16] #2 closed

[2020-06-25 23:49] tommythorn opened #7 "Doesn't build on CentOS 7 nor Ubuntu 20.04"
On CentOS Linux 7 (Core).  Cloned the repo (HEAD is at 34d8384e0a4124b5a55f6007ddcb1827462fc721).
[code]

On Ubuntu 20.04, same repo, but using Python 3.8:
[code]

[2020-06-26 04:33] Leo-Wang-JL commented on #7
Thank you for reporting the issue.  What is the gcc version you are using?

[2020-06-26 05:20] tommythorn commented on #7
CentOS 7: gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC)  (OK, fine that's not supported)

Ubuntu 20.04: gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)

[2020-06-26 14:48] Leo-Wang-JL commented on #7
Thanks for providing more details.  The majority of the development currently use Ubuntu 18.04 and GCC 7.5.0.  We will provide a fix very soon, as well as having latest version of GCC in our testing process.

[2020-06-29 19:21] Leo-Wang-JL commented on #7
A pull request for the fix has been submitted last Saturday.  This issue should be addressed once the pull request is merged.

[2020-06-29 23:42] Leo-Wang-JL commented on #7
Hi Tommy,

The gcc-9 compile issue should be fixed.  Please give it a try.

Thanks,

Leo

[2020-06-30 00:54] tommythorn opened #10 "Minor: parallel build aren't supported?"
I haven't looked into why, but it seems the build is serialized.  That's a bit painful in 2020:
[code]
(to wit, `htop` makes it clear only a single process is executing at a time).

This isn't a showstopper but I'm profoundly puzzled.
[Ubuntu 20.40 LTS; some AMD64 processor]

[2020-06-30 01:05] tommythorn commented on #7
Thanks, gcc-9 issues are indeed fixed and the build makes it almost to the end:
[code]
I didn't spend too much time, but I couldn't immediately see where the `3.8m` came from.

[2020-06-30 01:18] tommythorn commented on #7
Oh, it's hardwired in: https://github.com/openhwgroup/force-riscv/blob/master/utils/make/Makefile.common#L56
No wonder grep couldn't find any mention of "3.8m".
I can't propose a fix as I don't understand why it's like this, but it breaks Ubuntu 20.04.
However removing the stray `m` makes the rest of the build succeed and the regression tests pass.

[2020-07-01 21:03] Leo-Wang-JL commented on #7
The 3.xm version library is faster and preferred.  But in Python 3.8 the Python library memory allocation mechanism configuration has been changed so that the 3.8m library is not produced any more.  We will have a fix soon.

[2020-07-01 21:04] Leo-Wang-JL commented on #10
Thanks for spotting this issue.  We will have a fix soon.

[2020-08-10 19:46] Leo-Wang-JL commented on #10
The latest code should have this addressed.  Please check if it work for you now.

[2020-08-10 19:46] Leo-Wang-JL commented on #7
The latest code should have this addressed.  Please check if it work for you now.

[2020-08-25 02:39] Daichou opened #13 "standalone handcar share library usage?"
I try to integrate handcar to my verification model, so I write simple test program to test how to compile handcar_cosim.so with my code. But I compile my testing code use following command:
[code]
I got a lot of undefined reference:
[code]
They look like spike function, but I compile them with spike shared library and library in handcar/standalone. I cannot eliminate those error.
What is the corr

[2020-08-26 21:04] MDBrothers commented on #13
Hi, I'm the main developer for Handcar.

Strangely, when I enter the same commands I get no such errors. What is your version of g++?

But I do have some insight for you.

**It looks like you don't have implementations for the "update_*" symbols. For examples check force-riscv/utils/handcar/SimApiHANDCAR.cc or force-riscv/handcar/tests/cosim_lest/src/cosim_lest.cc for stubs.**

**In these examples

[2020-08-30 01:59] Daichou commented on #13
I think I mistakenly used this shared library. I will re-design my test flow. Thanks your reply.

[2020-08-31 15:41] MDBrothers commented on #13
We do use this library but we load it at runtime, not link it at compile time.

Here's a small example I found. Look at the accepted answer, the "dynamic" part:
[https://stackoverflow.com/questions/1142103/how-do-i-load-a-shared-object-in-c](https://stackoverflow.com/questions/1142103/how-do-i-load-a-shared-object-in-c)

The Handcar API is officially for RV64, but it is worth a try.

I say this be

[2020-09-24 15:47] jeremybennett opened #15 "FORCE_CC, CC, CFLAGS and LFLAGS are non-standard"
The Makefiles use `FORCE_CC` and `CC` to refer to the chose C++ compiler.  By convention `CC` is used for C compiler, and `CXX` is the C++ compiler.  It would avoid user confusion to renames as `FORCE_CXX` and `CXX` throughout.

Similarly the compile time flags should be in `CXXFLAGS`, not `CFLAGS`.  Any preprocessor flags (`-I`, `-D` mostly) should be in `CPPFLAGS`.  The linker flags should be in

[2020-09-25 03:38] Leo-Wang-JL commented on #15
Good suggestions, thanks Jeremy

[2020-11-17 00:35] kabylkas opened #19 "generate code for BOOM core"
Hi :wave:

I am trying to generate riscv code for UC Berkeley's BOOM core.
I would really appreciate if you could give me some tips on what config files I need to edit to set force-riscv up for BOOM. For example:
* where do I change memory range?
* how can I add sections for tohost/fromhost interface?
* any other general configuration tips would be appreciated

Thank you

[2020-11-19 16:31] mtvaden commented on #19
Hello,

Thanks for using force-riscv.  To modify the memory range, edit the force-riscv/py/riscv/memory.py file (or memory32.py if you are running rv32i).
The current memory.py file has this:

def configure_memory(interface):
        interface.addMemoryRange(0, 0, 0xffffffffffff)

The first value indicates which memory space - which will always be 0 for the current RISCV ISA.
The second value is t

[2020-11-20 22:31] pdonahue-ventana commented on #7
I still get gcc-9 errors in base/src/StringUtils.cc.  Applying a similar change as https://github.com/openhwgroup/force-riscv/pull/9/commits/68108466d5d0a72fa585b18bc800fdf8f89474c7 fixes the problem.

[2020-11-28 10:19] ansyser opened #21 "where did utils/builder/instruction/riscv/input/xxx_starter.xml come from?"
I can't find this xxx_starter.xml in https://riscv.org/technical/specifications/  or https://github.com/riscv/riscv-isa-manual.
So where did this files come from, if we need to add new instructions?
thanks!

[2020-12-08 02:04] Leo-Wang-JL commented on #21
If you have your own proprietary new instructions, you can add new instructions to a starter file, use the instruction builder script to process it and add new resulting instruction file inside a file in config/*.config.

[2020-12-10 19:24] jscheid-ventana commented on #7
Like this?

[code]

[2020-12-10 19:35] #10 closed

[2020-12-13 22:30] agrobman opened #25 "generated test examples"
Hi,

Could you, guys provide the generated tests *.s files for every python template?

It will greatly help to assess the tool capability...

thanks in advance

[2020-12-15 09:11] ansyser commented on #21
thanks a lot！

[2020-12-15 09:11] #21 closed

[2020-12-17 09:37] yinhanquan commented on #7
On Ubuntu 20.04, i try gcc-7.5/gcc-9.3 , and using Python 3.8:
the error :
../base/src/TopLevelResources.cc:47:10: error: base class ‘struct option::Arg’ has a non-virtual destructor [-Werror=effc++]
   struct Arg: public option::Arg
          ^
cc1plus: all warnings being treated as errors
how can  i solve it?

[2021-01-04 15:46] noahsherrill commented on #13
@Daichou, it looks like there is nothing further to be done for this issue. If that is not the case, please let me know. Otherwise, I will suggest this issue be closed.

[2021-01-04 15:53] noahsherrill commented on #19
@kabylkas, did you receive the answers you needed? If so, I will suggest this issue be closed.

[2021-01-04 16:01] noahsherrill commented on #25
You can build and run FORCE by following the instructions here: https://github.com/openhwgroup/force-riscv#setup. Add `-k all` to the command for running the FORCE regression in order to retain the .S files for each test run, so the command to run the tests looks like `./utils/regression/master_run.py -k all`. Then, the .S files will be located in the subdirectories in `output/regression`.

[2021-01-04 20:46] noahsherrill commented on #7
@yinhanquan, I am not able to reproduce the issue you described when running Ubuntu 20.04, g++ 9.3.0 and Python 3.8.5. Could you share a list of your environment variables, i.e. the output of `printenv` and the command and arguments used to initiate the build?

[2021-01-04 21:36] kabylkas commented on #19
Sorry, yes this definitely helped. I will close this for now :) Thank you!

[2021-01-04 21:36] #19 closed

[2021-01-05 02:46] Daichou commented on #13
Thanks.

[2021-01-05 02:46] #13 closed

[2021-01-05 07:29] ahmedgalalramzy opened #26 "execute_uop() implementation"
Can gmp library be used for accurate computation in this function?

[2021-01-11 16:19] noahsherrill commented on #26
Hi Ramzy, I'm not very familiar with the gmp library, but based on a quick glance at the description, it would likely work. Most, if not all, of the operations currently referenced in Force code could probably be implemented using C++ operators, as long as attention was paid to making sure the operands were correctly signed or unsigned, and additional work was done to report condition flags, e.g.

[2021-01-11 16:33] noahsherrill commented on #25
@agrobman, do you have any further questions? If not, I will suggest this issue be closed.

[2021-01-11 16:35] noahsherrill commented on #7
@MikeOpenHWGroup, I suggest this issue be closed. All of the reported issues appear to have been resolved, except the last. I am not able to reproduce the last issue, and the reporter has not provided any additional information.

[2021-01-11 16:42] MikeOpenHWGroup commented on #7
Thanks @noahsherrill, will close the issue.

[2021-01-11 16:42] #7 closed

[2021-01-11 17:03] tommythorn commented on #7
Sorry for note checking earlier, but FWIW it doesn't build on Ubuntu 21.04 (Hirsute Hippo):

[code]

I don't have access to older distributions right at this moment.

[2021-01-15 18:18] noahsherrill commented on #26
@ahmedgalalramzy, do you have any further questions? If not, I will suggest this issue be closed.

[2021-01-15 18:22] noahsherrill commented on #25
@MikeOpenHWGroup, I suggest this issue be closed. The question was answered, and no follow-up questions were posted.

[2021-01-16 02:21] ahmedgalalramzy commented on #26
@noahsherrill If it is not needed in the future, then I will close the issue. Thanks

[2021-01-16 02:21] #26 closed

[2021-03-25 04:47] tvsathishriscv opened #30 "force riscv make error - cc1plus: error: unrecognized command line option "-std=c++11""
Hi Force RISCV team,

I am getting following error when I try to set up force riscv tool. Can you please help on this.

/usr/bin/g++ -Wall -std=c++11 -gdwarf-3 -m64 -Werror -O2 -Weffc++ -fvisibility=hidden -D 'ARCH_ENUM_HEADER=<EnumsRISCV.h>' -I./inc -I../base/inc -I../3rd_party/inc -I/usr/include/python3.6 -MM -MT 'make_area/obj/AddressFilteringRegulatorRISCV.o' ./src/AddressFilteringRegulatorRIS

[2021-03-25 04:58] tvsathishriscv commented on #30
in README i see that required GCC Version is 5.1 but in my environment i see only 4.4.7. Is that the issue ?

From README.md
Set the following environment variables.  FORCE-RISCV development **requires gcc 5.1** or higher and Python 3.4.1 or higher version.  The Makefile will make a guess if you don't set them, which should be suitable for modern 64-bit GNU/Linux distributions.

/usr/bin/g++ --ver

[2021-03-25 06:31] tvsathishriscv commented on #30
i tried with gcc 9.3.0

/usr/bin/g++ -Wall -std=c++0x -gdwarf-3 -m64 -Werror -O2 -Weffc++ -fvisibility=hidden -D 'ARCH_ENUM_HEADER=<EnumsRISCV.h>' -I./inc -I../base/inc -I../3rd_party/inc -I/usr/include/python3.6 -MM -MT 'make_area/obj/AddressFilteringRegulatorRISCV.o' ./src/AddressFilteringRegulatorRISCV.cc -MF make_area/dep/AddressFilteringRegulatorRISCV.d
make[2]: Leaving directory `/wdc/proj/r

[2021-03-26 03:18] tvsathishriscv commented on #30
I got the tool working with the following setup and with some tweaks in makefile.common.

module load gcc/9.3.0
module load python/3.6.6                                                                                                                                                   setenv FORCE_PYTHON_VER 3.6.6

[2021-03-26 11:05] MikeOpenHWGroup commented on #30
Glad to see you've made progress @tvsathishriscv.

@noahsherrill, can you comment on whether this is a valid resolution to the issue?

[2021-03-26 12:43] noahsherrill commented on #30
@tvsathishriscv, you are right that GCC 4.4.7 won't work, but GCC 9.3 should. What were the tweaks made to Makefile.common other than replacing c++11 with c++0x? That change should not have been necessary when using GCC 9.3. The second attempt looks like it may still have been referencing the GCC 4.4.7. After further modifying the environment, did you try compiling without the Makefile modificatio

[2021-04-01 18:57] noahsherrill commented on #30
@MikeOpenHWGroup, I suggest this issue be closed. The reporter appears to have resolved the issue by using a supported compiler version, and it does not look like any additional information is forthcoming.

[2021-04-01 20:00] MikeOpenHWGroup commented on #30
Agreed @noahsherrill.   In general, at OpenHW we typically give an issue reporter one calendar week to respond to the "can we close this issue" question.  You have done so, and I agree we can close it.   However, just to be fair...

Hi @tvsathishriscv, can you please provide an update to this issue?  You have not responded in one week so if you have not responded by Monday, April 5 at 08:00AM EDT,

[2021-04-05 03:42] tvsathishriscv commented on #30
Hi All, sorry for late reply. Just hardcoded PYTHON_VER, PYTHON_LIB_TYPE in Makefile.common.
Before regression loaded glibc/2.14.

Following steps works for me

**module load & set environment:**

module load gcc/9.3.0
module load python/3.6.6                                                                                                                                                   setenv FOR

[2021-04-09 19:50] noahsherrill commented on #30
Thank you for the additional information, @tvsathishriscv. I am glad you were able to get it running. These changes look like they were all environment-related. If I am missing something, and there are issues with the FORCE-RISCV build files or code that needs to be corrected, please let me know.

[2021-04-09 20:50] MikeOpenHWGroup commented on #30
I agree with @noahsherrill, this looks like its a env set-up issue, not a FORCE-RISCV issue per-ce.  Therefore, I will close this issue.

@tvsathishriscv, if you believe there is additional information we could add to the README, please open an issue against that document.

Thanks to both of you for grounding this out.

[2021-04-09 20:50] #30 closed

[2021-07-28 14:38] MappleM opened #31 "new rori instr, that added by myself refer to force_new_instr_toturial.pdf, can not run by fpix and handcar in force instr generating."
Hello, I try to add a new instr rori followed toturial step by step from doc/force_new_instr_toturial.pdf. But I have a problem. Now, rori instr can be generated by force correctly after I do all steps on pdf file. when I try to run ELF file using fpix/handcar, there is a error in fpix_sim.log file. It seems that modificaton to handcar have not take effect. I have added rori.cc in src, added rori.

[2021-07-29 13:52] weiqi7777 opened #32 "do you plan to implement sv39?"
i find force-riscv don't support sv39

do you plan to implement it?

thanks
lujun

[2021-07-29 14:31] noahsherrill commented on #32
Yes, we plan to implement support for it. However, I can't provide any timeline concerning when it will be completed.

[2021-07-29 15:16] noahsherrill commented on #31
I do not know the exact cause of or remedy for these issues. However, I have a couple of suggestions to try. You may need to add a line in inc/insn_list.h of the form `DEFINE_INSN(rori)`. Concerning the "args unknown" issue, I think if you add a line of the form `DEFINE_ITYPE(rori)` to src/disasm.cc, it will likely resolve it.

[2021-08-02 13:41] MappleM commented on #31
Yes，It runs right after your guide!
Thanks.

[2021-08-02 14:22] MikeOpenHWGroup commented on #31
Hi @MappleM, if this problem has been resolved to your satisfaction, please close this issue.   Thanks.

[2021-08-23 12:23] seferbey opened #33 "Generate code for only non-privileged ISA"
Hi,

I am trying to generate riscv code for IMAFD extension. The core has only machine mode. Is it possible?

I would really appreciate if you could give me some tips on what would be necessary changes (If possible of course).

From the config file, I removed <instruction_files> of c, v, priv and zfh instructions.
I get -->
[fail]Instruction with ID "MRET##RISCV" not found.

Thanks in advance.

[2021-08-30 22:59] noahsherrill commented on #33
@seferbey, did this help to resolve the error you encountered? Do you have any further questions?

[2021-08-31 05:12] seferbey commented on #33
Error is caused by the removal of priv_instructions.xml  from the config file. I changed "RET" weight to 0. But, it still generates SRET and MRET instructions. (Maybe for traps, I don't know). Thank you for the response anyway.

[2021-08-31 12:35] MikeOpenHWGroup commented on #33
Hi @seferbey, to me it does not appear as if the issue has been resolved.  Can you share the config file you are using?  (Attached it to this issue.)

[2021-08-31 13:02] seferbey commented on #33
Here is the config file I use. If I remove "priv_instructions.xml", I get an error. (changed extension to drag&drop)

[riscv_rv64.config.txt](https://github.com/openhwgroup/force-riscv/files/7084036/riscv_rv64.config.txt)

Here is the suggested weight change. (changed extension to drag&drop)

[general_choices.xml.txt](https://github.com/openhwgroup/force-riscv/files/7084053/general_choices.xml.txt

[2021-09-07 19:47] noahsherrill commented on #33
Yes, you are right that the exception handlers will still be generated with MRET and SRET instructions. You can pass the option `--options NoHandler=1` to FORCE to skip exception handler generation. In a fctrl file, this would like something like `{"fname": "<test_file_path>", "generator": {"--options": '"NoHandler=1"'}}`.

[2021-09-13 14:51] noahsherrill commented on #33
@seferbey, did this remove the remaining SRET and MRET instructions? Do you have any further questions?

[2021-09-13 15:43] seferbey commented on #33
Yes, it resolved the issue. Thank you.

[2021-09-13 15:43] #33 closed

[2021-11-03 12:01] Wlgen opened #34 "Front-end error when using getConditionalBranchToAddress(): 'AssemblyHelperRISCV' object has no attribute 'error'"
I am developing a template which generates code with loops and a series of branches and I am using the `genConditionalBranchToAdress()` method to generate a branch instruction to return to the beginning of the loop and keep iterating. The error comes when setting a non-valid address and has to return an error message, then the python interpreter returns the following error:
[code]
I managed to sol

[2021-11-05 19:40] noahsherrill commented on #34
Thank you for the report. It should have originally been written as `self.mSequence.error(` on Line 337 instead of `self.error(`. However, `Sequence.error(` is now deprecated in favor of `Log.error(`, so your fix is a good one. If you are inclined, please submit a pull request with your fix. Otherwise, we can address it in our next update.

[2021-11-09 09:05] Wlgen commented on #34
Thanks for the reply. I will create a pull request with the fix then.

[2021-11-12 15:56] Wlgen opened #36 "Instruction address issues when generating branch instructions"
Hello, I am trying to create a template for a test that generates a loop and I have encountered a few problems when trying to generate branch instructions.
This is the piece of code that generates the problems:
[code]
The issue I am having with this is that when force generates the first BNE instruction then it reserves some contiguous memory addresses and when its time to generate the ADDI instru

[2021-11-12 20:29] noahsherrill commented on #36
Thank you for the report. The memory block that gets reserved following the BNE instruction is for branch not-taken instruction generation. In most cases, this is desirable to ensure that FORCE can generate the branch not-taken instructions to facilitate simulation of various branch predication and speculative execution strategies; however, in tests that are highly directive, this mechanism can be

[2021-11-12 21:33] #31 closed

[2021-11-15 09:41] Wlgen commented on #36
Thanks for the answer, now I understand a few more things. But knowing about this branch not-taken code, is there a way to tell force-riscv what code to put inside this kind of code? Because right now I'm making the loop code practically by hand but I was wondering if there were any tools, like genConditonalBranch for the branches, that helped in loop generation specifically.

[2021-11-16 17:17] noahsherrill commented on #34
@MikeOpenHWGroup, I believe this issue should be closed, as Wlgen has submitted a fix.

[2021-11-16 18:04] #34 closed

[2021-11-16 20:17] noahsherrill commented on #36
There are two features that may be of interest to you. The first is the `Sequence.setBntHook()` method. `setBntHook()` allows you to specify a method to be invoked to generate the instructions along the not-taken path. You can look at `tests/riscv/bnt/speculative_bnt_force.py` for an example of how to use it.

The feature I think would probably be more useful to you is the `LoopControl` class in t

[2021-11-18 10:57] Wlgen commented on #36
Both of these are really useful! I think I will be able to manage better using these, thanks a lot. Those were all the questions I had so I think that this issue can be closed.

[2021-12-02 13:22] Wlgen opened #37 "Adding pre-compiled C code to the binaries generated by force-riscv"
Hello, I need to generate a set of tests that use a set of methods that were created in C code and I was wondering if there is a way to insert this code, be it with the C code itself or the compiled binary, so that force is able to generate these pieces of code within the binaries that it generates. I was not able to find any mechanism that let me do this so I wanted to ask before giving up.
Thank

[2021-12-02 21:50] noahsherrill commented on #37
Unfortunately, FORCE doesn't have any mechanisms to support this. FORCE outputs an ELF file with the instructions and data necessary for the generated test, but there isn't any way that I know of that one could link that ELF file to call into another binary.

[2021-12-03 09:18] Wlgen commented on #37
And what about assembly code? Is there a way to insert a piece of assembly riscv code instead of the binary?

[2021-12-16 08:07] Wlgen commented on #37
I see, then that solves my doubts, thank you very much for the reply.

[2021-12-16 08:07] #37 closed

[2021-12-20 12:15] Zissi-Lei opened #38 "Do you have a plan to support RVV 1.0?"
Hi,
RVV 1.0 is frozen. Do you have a plan to update the tool  to support RVV 1.0?
Thanks.

[2021-12-23 18:14] noahsherrill commented on #38
Yes, we are currently working on an update to support Version 1.0 of the vector extension. We cannot make any guarantees regarding the timeline, but currently anticipate releasing it in the first half of 2022.

[2021-12-24 06:41] Zissi-Lei commented on #38
Thanks, I'm looking forward to this update!

[2021-12-24 06:41] #38 closed

[2022-01-09 15:10] MasterJerryZh opened #39 "How to generate correct code for Machine-mode only supported core?"
Hi, I am using  force-riscv to verifi my cpu core in my dv env. But there are some mismatch code in generated elf file for example that csrrw satp/fcsr/stvec/scause are here. My cpu core is a Machine-mode only riscv core, and it not support U-mode or S-mode. These U/S-mode csr are not exist in my core and they will be decode as illegal instruction exception. I use this cmd "/opt64/MySoftware/force

[2022-01-13 18:56] noahsherrill commented on #39
Unfortunately, we don't have support for generating for an M-mode only core at this time. If you are willing to modify the source code, you could try modifying `riscv/src/InitialSetupRISCV.cc` to remove references to the registers not supported by the M-mode only core. Lines such as `mpGenerator->InitializeRegisterFields("satp", field_map)` would need to be removed to avoid initializing these regi

[2022-01-16 03:39] MasterJerryZh commented on #39
Thanks. I will try to midify it according your guiding.

[2022-01-16 03:39] #39 closed

[2022-01-19 23:55] CodeDance364 opened #40 "How to call OvpSimPlus in master_run.py instead of fpix"
Hi guys
As the force-riscv README.md said,we can run the generation with master_run.py,just as utils/regression/master_run.py -f examples/riscv/_def_fctrl.py -c utils/regression/config/_riscv_rv64_fcfg.py -k all.But we found it will call fpix as ISS to execute the ELF that generated before,and the execution showd FAIL,single run the ISS cmd with no response,seems timeout.

Anyone could help to con

[2022-01-20 17:59] noahsherrill commented on #40
Unfortunately, we don't presently have any support for executing OVPsimPlus using master_run.py. Imperas previously contributed some scripts intended to enable getting functional coverage using OVPsim. You can find them here: https://github.com/openhwgroup/force-riscv/blob/master/target. If you have any questions about how to use them, you will probably need to contact Imperas.

The failure when r

[2022-02-01 16:39] noahsherrill commented on #40
@CodeDance364, do you have any further questions? If not, I will suggest this issue be closed.

[2022-02-02 08:47] Wlgen opened #42 "Use custom memory mapping"
Hello, I'm trying to create a series of tests that need to fit in a pretty reduced memory and I am having problems with the layout that force-riscv uses for the exception handlers. The problem is that they overlap with the code section, which has branches (it has loops and condition checking) that are sometimes messed due to this memory being reserved for the exception handlers and its stack. So m

[2022-02-03 02:35] MikeOpenHWGroup commented on #32
Hi @weiqi7777, I will close this issue now.  Question asked and answered.

@noahsherrill, just FYI, the [CVA6](https://github.com/openhwgroup/cva6) project plans two variants that will require sv39 support.  This may be an opportunity to deploy FORCE on an OpenHW core.

[2022-02-03 02:35] #32 closed

[2022-02-04 18:10] noahsherrill commented on #42
None of this has been designed for user configuration at this point, so what I will suggest hasn't been well tested. The `py/riscv/PcConfig.py` contains some functions that allow for configuration of a few memory regions such as the boot region. For the exception handlers specifically, you could try to adjust the values used to initialize `handler_memory_constr` in the `_getHandlerMemoryConstraint

[2022-02-04 18:31] MikeOpenHWGroup opened #43 "Update the README to indicate support for Vector 1.0"
It is my understanding that as of `114d720`, FORCE-RISCV support V1.0 of the RISC-V vector ISA.  This is a *big deal* deserving of recognition.   At a minimum, please update the README as appropriate.

[2022-02-07 15:19] MikeOpenHWGroup commented on #42
Hi @Wlgen, thanks for updating us.  At OpenHW, we strive to maintain a strong discipline for issue tracking, and this means that there should be only one discussion topic per issue.  So if you could:
1. Close this issue since it seems to be resolved (or comment on the issue that it can be closed and we will do it).
2. Open another issue for the address table discussion.

Thanks for your understand

[2022-02-07 17:47] noahsherrill opened #44 "Address table overlaps test instructions when generating with very tight memory bounds"
When creating a series of tests that need to fit in a pretty reduced memory range, the address table may overlap with the code section, which has branches (it has loops and condition checking) that are sometimes messed up due to this memory being reserved for the address table. The address table appears to always be generated with a random base address. Is there a good way to determine the address

[2022-02-07 17:49] noahsherrill commented on #44
@Wlgen, I created this issue on your behalf, so I could respond to your second question mentioned in #42. I paraphrased and summarized as best I could, but please feel free to add or correct anything here.

[2022-02-07 18:00] noahsherrill commented on #44
Unfortunately, there is no way that I know of to query the address table address range. I have a couple of suggestions for how it might be controlled, but I can't promise they will work. One approach would be to adjust the `System Physical Address Range` in `arch_data/general/variables_<arch>.xml`. This should constrain the address range for the address table, but will also have ramifications for

[2022-02-07 19:43] snipppy opened #46 "Removing support for certain extensions"
Hi there,

I'm attempting to use the pre-existing tests for a simpler, open source core that doesn't have several of the extensions listed here such as vector, floating point, etc. My understanding is that in order for this to happen, I'll need to:

1. Edit/create a new configuration file with desired existing tests (in multiple places: config/, _fctrl.py in tests/riscv/, fpix/config)
2. Modify te

[2022-02-07 21:07] #43 closed

[2022-02-07 21:08] MikeOpenHWGroup commented on #43
Thanks @noahsherrill

[2022-02-08 08:59] Wlgen commented on #42
Oh, I'm very sorry, I'll close the issue then, thanks!

[2022-02-08 08:59] #42 closed

[2022-02-09 09:22] Wlgen commented on #44
Hi, thanks for the answer! In the end I've made a combination of both solutions, I've created a new variable in the xml file to adjust the range in the `ContraintSet` object, that way I have a bit more flexibility if I have to change anything I can do so without compiling. I've done something similar to change the range for the exception stack, so I've been able to fix a few things thanks to this.

[2022-02-14 13:32] niuqiang-real opened #47 "Parameters used to call genSFENCE seem to be not right"
Hi there,

Here is the problem:
     Function(genFence) is used to issue sfence.vma instruction,  here is its definition:

![image](https://user-images.githubusercontent.com/99661322/153873057-fea0737b-1c21-4226-80c5-2aad0a9a0dce.png)

   One of the parameter is pte_value_reg_index, which I believe is the register to hold the value of pte.  But when it comes to the function call:

![image](https:/

[2022-02-22 17:22] noahsherrill commented on #46
Thank you for the feedback and question. We have had one or two discussions about enhancing the extension configurability. I agree that there is significant room for improvement in ease-of-use in this area. Unfortunately, we don't have anyone to work on it at the moment.

I would generally prefer not to add anything to the README that involves editing the source code, as I think that is more detai

[2022-02-22 17:40] noahsherrill commented on #44
That sounds like a pretty good solution using a new XML variable to control it. Would you be willing to share the changes you made with a pull request if you have time? I think others might find this to be a useful addition as well.

[2022-02-22 17:59] noahsherrill commented on #47
Your understanding is correct. This is a bug; thank you for reporting it. I will look into it further.

[2022-02-23 03:00] MikeOpenHWGroup commented on #46
Hi @snipppy.  Would you consider submitting a pull-request with updates to either the generator or documentation?  This is how open-source works.  :wink:

[2022-02-23 03:03] MikeOpenHWGroup commented on #47
Hi @niuqiang-real, thanks for reporting the bug!   Let's keep this issue open until @noahsherrill has had a chance to fix it.

[2022-02-23 03:25] niuqiang-real commented on #47
Hi, thanks for your reply.  It is better to close this issue after bug fix~

[2022-02-23 09:22] Wlgen commented on #44
Of course I wouldn't mind, I'll open a pull request with these changes as soon as I can. Thanks for the proposition!

[2022-02-23 09:55] niuqiang-real commented on #47
Hi, please check whether this part of code is correct or not:

![image](https://user-images.githubusercontent.com/99661322/155294876-cce85b8e-48f1-4607-9b1d-1d656a7e339e.png)

Here, I think there are two mistakes:

The first one is at L271: data pushed into data block should be data_block_addr_reg_val;
The second one is at L269: it should be "action_code_reg_val" instead of "result.mTargetAddr".

[2022-02-23 13:30] MikeOpenHWGroup commented on #47
Hi @niuqiang-real, is your latest question about "action_code_reg_val" related to this issue?   If it is, that is OK, but if it is not, please open a new issue to discuss it.  It can create confusion if we are discussing multiple different problems in one GitHub issue.

[2022-02-24 01:56] niuqiang-real commented on #47
Ok, I will open a new issue~

[2022-02-24 02:03] niuqiang-real opened #48 ""action_code_reg_val" was pushed into DataBlock twice"
Hi there,

   Please check whether this part of code in GenExceptionAgentRISCV.cc is correct or not:

![image](https://user-images.githubusercontent.com/99661322/155443206-54681bd0-e94b-486e-920e-40af6c37d951.png)

Here, I think there are two mistakes:

    The first one is at Line 271: data pushed into data block should be data_block_addr_reg_val;
    The second one is at Line 269: it should be "

[2022-02-24 03:18] MikeOpenHWGroup commented on #47
Thanks @niuqiang-real!  Your support of FORCE-RISCV is greatly appreciated.

[2022-03-01 17:46] noahsherrill commented on #48
Thank you for your careful review of the code. The code is definitely incorrect, but was not causing any unexpected behavior. I took a closer look to determine why, and it turns out that adding the action code, data block address and an address from the address table to the data block was completely unnecessary. The action code and data block address are returned through the API, and the address t

[2022-03-01 18:55] #48 closed

[2022-03-01 20:11] noahsherrill commented on #47
The effect of this issue is that the page fault handlers pass the wrong ASID value to the `SFENCE.VMA` instruction when the mapping is global. @niuqiang-real is correct that the intent here is to pass the register containing the PTE value to the `genSFENCE()` method rather than the register containing the page table level. I will submit a fix for this soon.

[2022-03-01 23:33] #47 closed

[2022-03-15 20:04] noahsherrill commented on #44
Resolved by #51.

[2022-03-15 20:04] #44 closed

[2022-04-21 09:08] erdevonmatteo11 opened #52 "how to generate codes without any physical registers"
Hi,

I am trying to generate codes without any physical registers. Is it possible? And would you mind telling me which script files to modify & how to modify?

Thank you in advance.

[2022-04-21 13:43] erdevonmatteo11 commented on #52
Hello @MikeOpenHWGroup , I mean the "physical registers" are such as mhartid, misa, mstatus and so on, which are classified as physical registers in force-riscv scripts as I notice.

In the assembly files generated by force-riscv, they are written just like:
CSRRS x27, mhartid, x0
CSRRW x0, misa, x21
CSRRW x0, mstatus, x20
CSRRW x0, satp, x31
CSRRW x0, fcsr, x15

Well, I don't know how to make for

[2022-04-22 14:21] erdevonmatteo11 opened #53 "error found while convert generated elf to binary"
Hi,

I try to convert the ELF file generated by force-riscv to binary by **riscv64-linux-gnu-objcopy**. However, I find that the result binary file has a very large size more than 800 MB. In comparison, the ELF file created by force-riscv is only 1.6 kB. What is wrong inside?

Below is the screen shot:
![2022-04-22 21-53-56](https://user-images.githubusercontent.com/57934484/164733291-1f420001-b63

[2022-04-22 14:56] MikeOpenHWGroup commented on #53
This looks like a toolchain, not force-riscv issue.  Maybe have a look at your crt0.S and/or link.ld.

[2022-04-22 17:27] erdevonmatteo11 commented on #53
the riscv toolchain I use is officially released on ubuntu and installed by apt install command, not compiled individually. Therefore, I think my crt0.S, lind.ld and related files could be no problem.

[2022-04-22 17:38] MikeOpenHWGroup commented on #53
The crt0.S, link.ld, etc. are specific to your environment.   A good discussion of this can be found [here](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/bsp/README.md).

[2022-04-25 10:52] niuqiang-real opened #55 "bug may exist in page-fault exception handler"
Hi there,

I'm currently using FORCE to generate some load/store instructions without preamble instructions. Lots of my generation failed for one same reason. After some debugging, I believe these fails were caused by a bug in FORCE. And I would be grateful if you can help me to confirm it.

In the official description about Sv48, there is a description about one of there exceptions:   Instruction

[2022-04-25 19:55] noahsherrill commented on #52
By default, FORCE attempts to configure the CSRs for successful execution. However, all of the register initialization instructions can be bypassed by including `"generator": {"--options": '"SkipBootCode=1"'}` in the `_fctrl.py` file. An example of this can be found in `tests/riscv/APIs/_def_fctrl.py`.

[2022-04-25 20:02] noahsherrill commented on #53
I would note that the ELF files that FORCE generates only contain the values necessary to initialize data and instruction memory in a bare-metal environment. They are very lightweight and do not contain many of the additional elements that one would find in a binary designed for execution in an OS environment.

[2022-04-25 20:38] noahsherrill commented on #55
Thank you for the detailed analysis. I agree with your assessment; this is an issue. Most of the page fault handler logic is intended to correct an error in the page tables and re-execute the instruction. However, in the case, I can't think of a good mechanism by which we could successfully re-execute the instruction because the fault is with the instruction itself. I think we will likely have to

[2022-04-26 01:31] erdevonmatteo11 commented on #52
Thank u for your reply.

I tried _tests/riscv/APIs/_def_fctrl.py_ as you mentioned. However, I found the generated _skip_boot_force.Default.S_ still has a lot of CSRs sentences. Is there a bug inside the present force-riscv codes?

![2022-04-26 09-31-11屏幕截图](https://user-images.githubusercontent.com/57934484/165201064-7670aade-b1a2-401c-8428-02d3b74e0f4f.png)

[2022-04-26 01:52] niuqiang-real commented on #55
Thanks for your reply.

[2022-04-26 01:59] niuqiang-real commented on #55
Thanks for your replay! Skipping the instruction when it detects the invalid target address will solve this problem. But generating load/store instructions without preamble instructions will raise too many exceptions, which is not what I want. I want to test register dependency with group of load/store instructions. Can FORCE read registers from handcar and automatically select a suitable one  for

[2022-04-26 16:04] noahsherrill commented on #52
You are right that FORCE also generates the exception handler code, which accesses CSRs, although it will not be executed during simulation unless an exception is triggered. To remove that, augment the options such that `"SkipBootCode=1"` becomes `"SkipBootCode=1,NoHandler=1"`.

There is one other place where an access to `mhartid` is generated. I don't know of any existing option to bypass this.

[2022-04-26 19:45] noahsherrill commented on #55
Yes, to an extent. FORCE does read registers from Handcar to maintain an accurate view of the simulation state. By default, FORCE chooses register operands that yield valid target addresses when explicit register operands are not passed to the `genInstruction()` method. FORCE can also be configured to attempt to generate dependencies. However, the dependency generation isn't perfect; it can't alwa

[2022-04-27 07:18] erdevonmatteo11 commented on #52
@[noahsherrill](https://github.com/noahsherrill) Thank u so much. Following on ur reply, I managed to solve it and was able to locate related codes.

[2022-04-27 11:48] MikeOpenHWGroup commented on #52
Hi @erdevonmatteo11, if your issue is resolved, please close this issue.   Thanks!

[2022-04-28 02:26] #52 closed

[2022-04-28 16:30] noahsherrill opened #56 "Test register dependency with load/store instructions"
I want to test register dependency with a group of load/store instructions. Can FORCE read registers from Handcar and automatically select a suitable one for the instruction?

[2022-04-28 16:32] noahsherrill commented on #55
@niuqiang-real, I am going to submit a fix for the page fault handler soon. I opened a separate issue (#56) for the register dependency generation in case further discussion and/or action is required.

[2022-04-28 16:32] noahsherrill commented on #56
Yes, to an extent. FORCE does read registers from Handcar to maintain an accurate view of the simulation state. By default, FORCE chooses register operands that yield valid target addresses when explicit register operands are not passed to the `genInstruction()` method. FORCE can also be configured to attempt to generate dependencies. However, the dependency generation isn't perfect; it can't alwa

[2022-04-29 00:14] #55 closed

[2022-05-02 15:30] noahsherrill commented on #53
@erdevonmatteo11, do you have any further questions or comments concerning this issue? If not, I will suggest this issue be closed.

[2022-05-02 15:34] erdevonmatteo11 commented on #53
thank u @noahsherrill. I have no more question about it.

[2022-05-02 15:34] #53 closed

[2022-05-05 08:08] niuqiang-real commented on #56
Thanks for open this issue to discuss dynamic register selection. I think this is one of the most important advantages of dynamic generation. And I'm very interested in the register selection scheme in FORCE~

I found two kinds of register selections when generating target address without preamble sequences:
1. Select uninitialized/free registers. Calculate the base address after target VA is dete

[2022-05-06 02:27] niuqiang-real commented on #56
Thank you for your supplement~
You mentioned that FORCE may reserve register by itself. If a register is reserved without user's knowledge,  some interesting scenarios may not be able to generate. So why would FORCE do that?

[2022-05-06 18:57] noahsherrill commented on #56
One case is when using "fast" exception handlers. In order to execute a minimal amount of instructions before returning from a "fast" handler, the handler is permitted to modify register state without restoring it. The comprehensive handlers do not do this; they restore all register values before returning, which requires a significant amount of additional instructions. FORCE reserves 2 registers

[2022-05-07 02:46] niuqiang-real commented on #56
Thanks for your detailed description about the reservation mechanism in FORCE. This really helps me a lot for understanding FORCE and using FORCE in my work!!!

[2022-05-26 15:05] noahsherrill commented on #56
You are welcome, @niuqiang-real. Please let me know if there are any other related issues or questions. Otherwise, I will close this issue soon.

[2022-05-30 02:37] niuqiang-real commented on #56
Thanks. I have no more question about this issue~

[2022-05-31 06:42] quswar-abid opened #58 "Passing signed values in IMMediates not working"
Hi @MikeOpenHWGroup

Following is a code for calculating factorial of a number:

[code]

Which translates to:

[code]

The following CLI log shows the error in parsing signed Int. when compiled with following CLI command:

`bin/friscv -t utils/smoke/new_riscv_force.py -s 0x100 -c config/riscv_rv32.config`

Same has also been observed when using _rv64.config as well.
[code]

The examples provided i

[2022-05-31 13:54] quswar-abid commented on #58
Issue resolved, it was caused by a syntax error.

[2022-05-31 14:57] #56 closed

[2022-05-31 15:07] noahsherrill commented on #58
If my understanding is correct, the issue concerning the immediate operand override was due to a syntax error in the test template. It sounds as though you encountered another issue concerning the override for GPRs, but I am not sure what the issue is. Could you please clarify what the behavior you are seeing is and what the expected behavior is for the GPR override issue?

[2022-06-01 05:09] quswar-abid commented on #58
Thanks @noahsherrill for the response. Yes, initially it was a syntax error.

What was supposed to be {"simm12.Data":"INT32(0)"} was written as {"simm12":"INT32(0)"} as I tried to just copy-paste and modify the examples from genInstruction front end API.

I expect this to set the immediate value to a fix "0" but this is not what's happening. It's a different value which I noticed is pseudo-random

[2022-06-03 17:28] noahsherrill commented on #58
I'm not very familiar with the `.Data` syntax. As far as I can tell, it actually only has any effect for uninitialized register operands, where it can be used to specify an initial value for the register. The way to accomplish what you want is to use `{"simm12": 0}`.

The FORCE log file should indicate `ignored operand data override` whenever `.Data` is appended to an immediate operand name. There

[2022-06-04 00:12] hanfeng0114 opened #60 "Is there any plan to support hypervisor extension?"

[2022-06-06 05:04] quswar-abid commented on #58
Thanks @noahsherrill for your response. Issue resolved!

[2022-06-06 05:04] #58 closed

[2022-06-06 14:31] noahsherrill commented on #60
We have discussed it and would like to add support for it. Unfortunately, we don't have the resources to work on it at present, so I don't know when or if we will be able implement it.

[2022-06-06 15:25] MikeOpenHWGroup commented on #60
Hi @hanfeng0114, thanks for your question.  As you may know, FORCE is an [OpenHW Group](https://www.openhwgroup.org/) project.  All our projects are supported by one or more members.  In the case of FORCE, Futurewei is the primary driver and to date has made all of the contributions.  Having said that, as an open source organization, we are open to contributions from all so if you or your company

[2022-06-08 10:47] quswar-abid opened #61 "How to override the test termination method of FORCE-RISCV?"
Force-RV marks the end of test with a "jump-to-self" instruction. How can we modify it so it suits our own testing criteria?

[2022-06-08 22:50] noahsherrill commented on #61
We've had some interest in being able to customize the end of test sequence, but no one has had the opportunity to implement such a feature as yet. If you are willing to modify the source code, you can change it in the `GenSequenceAgentRISCV::GetEndOfTestSequence()` method in `riscv/src/GenSequenceAgentRISCV.cc`. You can follow the other examples in that file to create the necessary instruction re

[2022-06-09 01:48] MikeOpenHWGroup commented on #61
The ability to customize the end of test sequence is a high value feature.  Almost every testbench will implement its own strategy for this and being able to easy override a boiler-plate end-of-program is very important.

[2022-06-09 08:37] quswar-abid commented on #61
@noahsherrill thanks for responding. Yes, I took the liberty to go through that file, and I tried to modify the `BranchToSelf` routine called by `EndOfTestSequence`. My modification looks like this:

[code]

Unfortunately it did not had any effect on generated code. I am still seeing jump to self (`0000006f JAL x0, 0`) in the `*.Default.S `file. Any idea what additional steps I need to do?

_Note:

[2022-06-09 12:26] MikeOpenHWGroup commented on #61
This is almost certainly the case. The CVA6 is not currently using FORCE for test-program generation.  Please create an issue for this and I will get you some support from the CVA6 team.

[2022-06-09 20:03] noahsherrill commented on #61
When I tested the above code, it didn't compile. I changed `auto j_req_1 = new GenInstructionRequest(j_instr_2);` to `auto j_req_2 = new GenInstructionRequest(j_instr_2);`, and then it compiles for me.

There are then a few issues with executing it. One is that FORCE doesn't understand the assembly register aliases, so I recommend changing `"t0"` to `5` and `"a0"` to `10`. It looks like `const cha

[2022-06-10 05:04] quswar-abid commented on #61
Yeah, I corrected the mistake earlier. I did made those changes and it did compile. However I have yet to try `NoPreamble` thing. Another thing I tried to end the code targeted for CVA6 was to add `ECALL`, but that also came along with around 60 extra instructions. What do we do about it?

[2022-06-10 05:17] ghost opened #62 "The configuration file for CVA6 needs update"
@MikeOpenHWGroup I see the configuration file for CVA6 is there, but might not have been tested with further development in the repository. I have a version of file that is updated to work with CVA6. Right now I am generating code with it to run on ARA. [I put it on a gist](https://gist.github.com/quswar-abid/555f7fc7a36da92b4fe2fb320c69e4b4) as of now, but can push through a PR if I encounter no

[2022-06-10 05:58] quswar-abid commented on #61
@noahsherrill The `AddDetail("NoPreamble", 1);` did not prevent FORCE to insert additional instructions. Also, where can I find details regarding backend APIs? I generated the initially mentioned sequence from the jump-to-self as an example. Is there any document available?

[2022-06-10 06:00] quswar-abid commented on #61
@noahsherrill Since I did not found J in general instructions, I did it by using the instruction mentioned in compressed instructions. Should I add it in general instructions myself, or keep using compressed instruction? What do you suggest?

[2022-06-10 14:57] noahsherrill commented on #61
The details regarding the back-end APIs are in the source code; there is no additional documentation for them. The `unit_tests` directory contains some unit tests, which can serve as useful examples on how to use some of the methods.

I believe `J` is an assembly alias for `JAL` with `rd` set to `x0`. I probably need to see the exact code being executed, the test being run and the random seed bein

[2022-06-10 15:29] noahsherrill commented on #61
I placed an `ECALL` in between the `SD` and the `JAL`, and I don't see any additional instructions being generated. There are cases where FORCE attempts to generate additional instructions for various reasons, but I can't think of any mechanism for this that would be relevant to the `ECALL` instruction. Are you seeing these additional instructions in the `Default.S` file immediately preceding the

[2022-06-13 05:48] quswar-abid commented on #61
As for the code, I am just creating 5 nopes, with seed (`0xea4507d444a3682f`) as in following command:
`
`$FORCE_PATH/bin/friscv -t $FORCE_PATH/empty_test.py --max-instr 50000 --num-chips 1 --num-cores 1 --num-threads 1 -s 0xea4507d444a3682f --cfg $FORCE_PATH/config/riscv-cva6.config`
`

`$FORCE_PATH` is the root folder containing force-riscv repo. The rest of changes in the backend are as followi

[2022-06-14 06:39] quswar-abid commented on #62
[PR created for CVA6](https://github.com/openhwgroup/force-riscv/pull/63).

[2022-06-14 06:54] quswar-abid commented on #62
#63

[2022-06-16 14:26] noahsherrill commented on #61
I have run the given code with the given seed and with some other seeds, and I do not see any instructions being generated between `ADDI` and `SD`. When I uncomment the `ECALL`, I also don't see any instructions generated between the last `NOP` of the test and `ECALL`.

I see the following in the `Default.S` file starting from `0x80011000`:
Without `ECALL`:
[code]
With `ECALL`:
[code]
I added a co

[2022-06-16 14:28] noahsherrill commented on #61
Note that the value returned by `mpGenerator->PC()` is the value of the PC at the beginning of the sequence, so if any other instructions, such as `ECALL`, are added prior to `AUIPC`, the target address calculation needs to be adjusted accordingly.

[2022-06-23 09:16] EdgeOfMemory-cloud opened #64 "Generate a .elf 32 bits is impossible?"
Good morning,

Since the last week I have downloaded and used your generator which is very useful but I have a problem. My personal ISS needs a 32 bits .elf file to work. I use the command **./bin/friscv -t <test_template> --cfg config/riscv_rv32.config** with my test template but the .elf file in the end is still 64 bits and useless. Is it a bug or do I missed something?
For example the command *

[2022-06-25 00:33] rchu-futurewei commented on #64
FORCE-RISCV uses ELFIO to write out the elf file.  However, it is currently fixed to ELF64.  But it shouldn't be too difficult  to add in options and make the necessary modifications to write out to ELF32 format, assuming addressing are limited to 32-bits.  Unfortunately, our resources are limited to make this happen.  I would encourage the community to be brave to provide code to extend the featu

[2022-06-28 10:24] niuqiang-real opened #65 "Generating C.EBREAK without simulation could make RTL fails to execute test"
Hi, there~

There is a description about building FORCE in FORCE-RISCV_User_Manual-v0.8.pdf, Chapter 2.1:
[code]

After executing command "make tests", FORCE will generate some templates under tests/riscv/instructions. And I guess these templates are used to make sure that FORCE is able to  generate all the instructions contained in the given configuration. And there is a special sub-directory “c_

[2022-06-29 06:40] hanfeng0114 commented on #60
Is it possible to provide some tips or feature list to support hypervisor features?
It is hard for new comers to list all related features.

Thanks

[2022-08-01 06:27] quswar-abid commented on #64
The frontend APIs are some what very well documented. Documenting back-end enough would also be a help to enable that ☝️☝️☝️

[2022-08-11 11:13] quswar-abid commented on #61
In the `riscv/src/GenSequenceAgentRISCV.cc`, I have updated the `GetEndOfTestSequence` sequence as following:

[code]

Thereby calling;
[code]
I also added it (the prototype) in the `riscv/inc/GenSequenceAgentRISCV.h` file.

Now if I have to store `0` to address `0xd0000000` I need to initiliaze it first. I do have an address generation API in front end as following:

[code]

But I need an API in

[2022-08-11 11:22] quswar-abid commented on #61
Thanks @noahsherrill, would you be kind enough to guide me on this one:

In the `riscv/src/GenSequenceAgentRISCV.cc`, I have updated the `GetEndOfTestSequence` sequence as following:

[code]

Thereby calling;
[code]
I also added it (the prototype) in the `riscv/inc/GenSequenceAgentRISCV.h` file.

Now if I have to store `0` to address `0xd0000000` I need to initiliaze it first. I do have an address

[2022-08-12 10:04] quswar-abid commented on #62
Made the required updates in Pull Request #63
Kindly review.

[2022-08-12 11:38] quswar-abid commented on #43
I think there might be few places where this update should be made. For example, [Wiki](https://github.com/openhwgroup/force-riscv/wiki#:~:text=Supports%20Vector%20extension%20V0.9.) etc.

[2022-08-12 11:47] quswar-abid commented on #61
Thank you for responding, the issue is resolved on my side, I'll close the issue now.

[2022-08-12 11:48] #61 closed

[2022-08-12 11:48] ghost opened #66 "Backend APIs for Memory Initialization"
Hi @noahsherrill, would you be kind enough to guide me on this one:

In the `riscv/src/GenSequenceAgentRISCV.cc`, I have updated the `GetEndOfTestSequence` sequence as following:

[code]

Thereby calling;
[code]
I also added it (the prototype) in the `riscv/inc/GenSequenceAgentRISCV.h` file.

Now if I have to store `0` to address `0xd0000000` I need to initiliaze it first. I do have an address gen

[2022-08-29 01:11] KevinK-byte opened #67 "IDE for development"
Currently attempting to use Force and hopefully in the future, able to contribute to it after understanding how it works, but I'm unsure as to how to start developing on it.

Right now I'm using visual studio code for debugging, but I can't clearly see the flow of the code since visual studio code cant break into python code and pybind library.

May I know what kind of IDE you guys are using so as